.main-container {
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.item-container {
  width: 40%;
}

li {
  border: 1px solid black;
  border-radius: 8px;
  height: 200px;
  margin-bottom: 7px;
  padding-top: 25px;
  padding-left: 25px;
  display: flex;
  justify-content: space-between;
}

.image-description {
  display: flex;
}

.image-description img {
  width: 175px;
  height: 175px;
  border: 1px solid black;
}

.image-description p {
  padding-left: 10px;
}

.button-container {
  display: flex;
  align-items: flex-end;
  padding-right: 30px;
  padding-bottom: 10px;
}

.button-container button {
  margin-left: 10px;
  background-color: white;
  width: 75px;
  border-radius: 8px;
  border: 1px solid black;
}

.checkout-container {
  width: 400px;
  height: 20%;
  border: 1px solid black;
  border-radius: 8px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.checkout-container button {
  width: 275px;
  height: 50px;
  border-radius: 8px;
  border: none;
  background-color: #ffa726;
  justify-content: center;
}

.summary-line {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
}

.summary-line h2 {
  color: red;
}

.checkout-container hr {
  width: 100%;
  padding: 0;
}

.checkout-container h3 {
  padding-left: 10px;
}

.checkout-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
