.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .product-box {
    width: 100%; 
    margin: 10px;
    text-align: left;
  }
  
  .product-box img {
    width: 100%;
    height: auto;
  }
  
  .product-title {
    margin: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .product-price {
    font-weight: bold;
  }
  
  /* Media query for smaller screens  */
  @media (min-width: 768px) {
    .product-box {
      width: 20%; 
    }
}