.nav-bar {
  width: 100%;
  background-color: #131921;
  height: 69px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  text-decoration: none;
  margin-left: 1%;
}

.search-bar {
  width: 55%;
  height: 46px;
  display: flex;
  border-radius: 5px;
  background-color: white;
  align-items: center;
  justify-content: space-between;
}

.search-dropdown {
  background-color: #c6c6c6;
  height: 100%;
  width: 11%;
  display: flex;
  align-items: center;
  font-size: 15px;
  border-radius: 5px 0px 0px 5px;
  font-size: 13px;
  justify-content: center;
}

.search-text {
  width: 30%;
  height: 100%;
  background-color: white;
}

.search-dropdown p {
  margin-right: 3px;
}

.search-bar p {
  font-size: 11px;
  margin-left: 10px;
}

.search-button {
  height: 100%;
}

.language {
  display: flex;
  color: white;
  align-items: center;
}

.home-button {
  font-size: 15%;
}

.account {
  color: white;
  font-size: 12px;
}

#account-text {
  font-weight: 700px;
}

.cart-container {
  position: relative;
}

.cart-button {
  color: white;
  text-decoration: none;
  position: relative;
  bottom: 10px;
  margin-right: 10px;
}

.cart-count {
  position: absolute;
  top: 55%;
  right: 45%;
  transform: translate(0, -50%);
  font-size: 15px;
  color: white;
}

.cart-button p {
  position: relative;
  top: 10px;
  left: 3px;
  color: white;
}
